/* * {
    margin : 0px;
    padding: 0px;
}
main {
    width: 100%;
    height: 100vh;
    background: lightcyan;
}
section {
    border: 10px solid blue;
    display: inline-flex;
}

section article {
    width: 50px;
    height: 50px;
    background : aqua;
    border: 1px solid black;
} */
* {
    margin: 0px;
    padding: 0px;
}
main {
    width: 100%;
    height: 100vh;
    background: lightCyan;
}
section {
    border: 10px solid blue;
    display: inline-flex;
    flex-direction: column;
}
section article {
    background: aquamarine;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}